# from manifests

apiVersion: apps/v1
kind: Deployment
metadata:
  name: inbox-zero
spec:
  replicas: 1
  selector:
    matchLabels:
      app: inbox-zero
  template:
    metadata:
      labels:
        app: inbox-zero
    spec:
      containers:
        - name: inbox-zero
          image: image:tag
          ports:
            - containerPort: 2368

---
apiVersion: v1
kind: Service
metadata:
  name: inbox-zero
spec:
  type: ClusterIP
  selector:
    app: inbox-zero
  ports:
    - port: 80
      targetPort: 2368
